*{
  margin: 0%;

}


.nav{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navdiv li a{
  text-decoration: none;
}
.navdiv li{
  list-style: none;
}
.navdiv{
  margin-left: 20px;
  display: inline-block;
}

.table thead th {
  border: none;
  padding: 39px 70px 6px;
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.table tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
.table tbody td {
  border: none;
  padding: 33px 77px 6px;
  font-size: 18px;
  background: #fff;
  vertical-align: middle;
}


.table tbody td{
 
  height: 50px;
  border-radius: 50%;
}
.checkbox-primary {
  color: #40bfc1;
}
.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}